h1 {
    margin-left:12px;   margin-top:40px;
    word-spacing:7px;
    font-weight: 250;   font-size: 44px;
    font-family:fantasy;
}
h2 {
    margin-left:12px;   margin-top:50px;
    font-size:26px;
}
h3{
    color:crimson;
    font-size:60px; margin-top:-5px
}
a{
    color:beige;
    text-decoration:none;
}
.btn{
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    width:160px; height:90px;
    margin-left:0.7px;
    font-size: 24px;    color:beige;    font-weight:bold;   text-align:left;
    cursor: pointer;
    display: inline-block;
  }
.btn:hover {
    background: rgba(255, 255, 255, 0);
    color:tan;
}
.dropbtn {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    width:160px; height:90px;
    margin-left:0.7px;
    font-size: 24px;    color:beige;    font-weight:bold;   text-align:left;
    cursor: pointer;
    display: inline-block;
  }
  
 
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(240, 240, 240, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-weight:bold;   text-align:left;
    display: block;
  }
.dropdown-content a:hover {
    background: rgba(255, 255, 255, 0);
    color:tan;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color:tan;
}